:root {
    --header-back-color: #f6f1e9;
    --header-hover-back-color: #f0e6d9;
    --card-back-color:#f6f1e9;
    --card-fore-color: var(--header-fore-color);
    --footer-fore-color: var(--header-fore-color);
    --footer-back-color: var(--header-back-color);
    --back-color: #fffbf5;
}

header img {
    height: 2.5rem;
    vertical-align: middle;
}

.selector {
    text-align: center;
}

.container {
    max-width: 1000px;
}

td {
    overflow: inherit !important;
}

.tooltip.bottom:hover {
    z-index: 100000;
}

@media(max-width: 800px) {
    .container {
        padding: 0;
    }

    .card {
        width: 100%;
    }

    .col-sm-12 {
        padding: 0px;
    }
}

@media(min-width: 800px) {
    .cat-table td.with-cat {
        padding: 0;
    }

    .cat-table td a {
        display: block;
        padding: calc(2 * var(--universal-padding));
    }

    a.download {
        margin: 0px 10px 0px 0px !important;
    }
}

.exams mark.tag {
    font-family: monospace;
    font-size: 10px;
}

table.exams {
    max-height: none;
}
